/* Header Css */
.header {
    width: 100%;
    height: 160px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 3px;
    user-select: none;
}

.header__center-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1150px;
    height: 100%;
    margin: 0px auto;
}

/* dynamic Header */
.--up { background-color: transparent !important; }
.--down { display: none }

/* Top Header */
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-input {
    border: 0 !important;
    outline: 0 !important;
    width: 700px;
    height: 100%;
    margin-left: 5px;
    padding: 0px 10px;
    font-size: 22px;
    font-weight: bold;
}

.search-input::placeholder {
    color: rgb(184, 182, 182);
}

.underline {
    position: absolute;
    bottom: -3px;
    left: 1%;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 174, 255);
    transition: 1s all;
}

.--clicked {
    width: 99%;
}

.logo-box { cursor: pointer; }

.logo {
    width: 50px;
    height: 50px;
}

.user-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.user-img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.user-name {
    margin-bottom: 6px;
    font-weight: bold;
}

.user-name::after {
    font-weight: normal;
    content: "ë‹˜";
}

.menu-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px
}

.menu-box__title {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.menu-box__title:not(:last-of-type) {
    margin-right: 80px;
}

.menu-box__title > a {
    position: relative;
    color: black;
    text-decoration: none;
    transition: all 1s;
}

.menu-box__title > a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 174, 255);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.menu-box__title > a:active::before {
    background-color: rgb(0, 174, 255);
}
.menu-box__title > a:hover::before, .menu-box__title > a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}