/* Carousel */
.carousel-box {
    width: 100%;
    height: 700px;
    margin-top: 80px;
}

.carousel-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.slides {
    display: none;
}

/* Next & Previous Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption Text */
.text {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.pagination-box {
    position: relative;
    top: -30px;
    text-align: center;
}

/* Fading animation */
.fade {
    text-align: center;
    height: 100%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}