/* Carousel */
.carousel-box {
    width: 100%;
    margin-top: 160px;
}

.carousel-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.slides {
    display: none;
}

/* Next & Previous Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption Text */
.text {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot--active, .dot:hover {
    background-color: #717171;
}

.pagination-box {
    position: relative;
    top: -30px;
    text-align: center;
}

/* Fading animation */
.fade {
    text-align: center;
    height: 100%;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

/* Explan Contents */
.explan-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.explan-box__sub-title {
    opacity: 0;
    position: relative;
    left: -60px;
    transition: 1.5s all;
    font-size: 14px;
    font-weight: bold;
}

.explan-box__title {
    opacity: 0;
    position: relative;
    right: -100px;
    margin: 20px 0px 40px 0px;
    transition: 1s all;
    font-size: 36px;
    font-weight: bold;
}

.explan-box__explanation {
    opacity: 0;
    position: relative;
    bottom: -60px;
    line-height: 1.8;
    transition: 2s all;
    color: #757474;
    font-size: 15px;
    text-align: center;
}

.--sub-title-active {
    opacity: 1;
    left: 0;
}

.--title-active {
    opacity: 1;
    right: 0;
}

.--explan-active {
    opacity: 1;
    bottom: 0;
}

/* Book Contents */
.back--gray {
    width: 100%;
    background-color: #e4e4e4;
}

.back--white {
    width: 100%;
    background-color: white;
}

.book__center {
    display: flex;
    flex-direction: column;
    width: 1150px;
    height: 400px;
    margin: 0px auto;
}

.book-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.contents-title {
    font-size: 22px;
    font-weight: bold;
}

.more {
    font-size: 12px;
    color: #737171;
    margin-right: 20px;
    cursor: pointer;
}

.books { 
    display: flex;
    justify-content: space-around;
}

.book {
    display: flex;
    flex-direction: column;
    width: 150px;
    cursor: pointer;
}

.book-img-box {
    width: 100%;
    height: 100%;
}

.book-img {
    width: 100%;
    height: 100%;
}

.book-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.book-author {
    margin-top: 7px;
    font-size: 13px;
    color: #999;
}